extends layout
block content
  - let destination_create = `dispatch(\"/element\")`
  button.btn( class="btn-primary ml-1", onclick= destination_create) Home 
  h1= title
  form(id='elementForm', action="/resource/elements", method="POST")
    div.form-group
      label.elementAttr(for='element_name') element name
      input#element_type(type='text', name='element_name')
    div.form-group
      label.elementAttr(for='number') element number 
      input#size(type='number', name='number')
    div.form-group
      label.elementAttr(for='symbol') element symbol
      input#cost(type='text', name='symbol')
    button(class='btn-success ml-1 btn-lg"' onclick='submit') Create
  script.
    document.forms['elementForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    }); 
    function dispatch(path){
    window.location.href=path
    }