extends layout
block content
  h1= title
  - let elementid = toShow._id
  - let element_name = toShow.element_name
  - let elementnumber = toShow.number
  - let elementsymbol = toShow.symbol
  div.row(class='mb-2')
  div.mr-1 ID is
  div #{elementid}
  - let actionid = "/resource/elements/" + elementid
  form(id='elementForm', action= actionid, method="PUT")
  div.form-group
    label.elementAttr(for='element_name') element type
    input#element_name(type='text', name='element_name', value= element_name )
  div.form-group
    label.elementAttr(for='size') element size
    input#size(type='number', name='number', value= elementnumber )
  div.form-group
    label.elementAttr(for='cost') element cost
    input#cost(type='text', name='symbol', value= elementsymbol )
  input(type="submit")
  script.
    document.forms['elementForm'].addEventListener('submit', (event) => {
    
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Update succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
    });
    });